<div class="about-container">
    <h2>About the Angular Crash Course</h2>
    <p>
        Welcome to  At Core Techs Solutions.

        At Core Techs Solutions , we value simplicity, efficiency, 
        and your peace of mind.
         Our mission is to make it easy for you to connect with us and streamline your interactions through our streamlined form submission process.
    </p>
  
    <p>
        To connect with us, simply fill out the form below. Whether you have a question,
         need assistance, or want to discuss a project, 
         our form is designed to make communication seamless. 
         We prioritize your inquiries and will respond promptly to ensure your needs are met.
    </p>
  
    
  </div>